.bd-navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #7952b3;
}

.bd-navbar .navbar-nav .nav-link,
.navbar-brand {
    color: white;
}

.container {
    height: 100%;
    max-width: 1140px;
    min-width: 576px;
}

.form-check {
    position: relative;
}

.form-inline .form-check {
    max-width: 5rem;
}

input[type="search"] {
    box-sizing: border-box;
    min-width: 272px;
}

.form-check-inline .form-check-input {
    position: absolute;
    visibility: hidden;
}

.search-button {
    max-width: 72px;
}

.form-check-input:checked+label {
    color: white;
    background-color: #007bff;
}

.form-check-label {
    max-width: 5rem;
    min-width: 5rem;
}

.pop-in-loc,
.pop-in-town {
    max-width: 80%;
}

.pop-in-loc>div,
.pop-in-town>div {
    overflow-x: scroll;
}

.card-body {
    padding: 6px;
}

.card-body p {
    margin-bottom: 0;
}

.card-boyd h6 {
    margin-bottom: 1rem;
}