.bd-navbar {
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: #7952b3;
}

.search {
    position: sticky;
    top: 50px;
    z-index: 999;
    background-color: #f8f9fa;
    box-shadow: 0 1px rgba(0, 0, 0, 0.05);
}

.bd-navbar .navbar-nav .nav-link,
.navbar-brand {
    color: white;
}

.container {
    height: 100%;
    max-width: 1140px;
    min-width: 576px;
}

.search {
    position: sticky;
}

.form-check {
    position: relative;
}

.form-inline .form-check {
    max-width: 5rem;
}

input[type="search"] {
    box-sizing: border-box;
    min-width: 272px;
}

.form-check-inline .form-check-input {
    position: absolute;
    visibility: hidden;
}

.search-button {
    max-width: 72px;
}

.form-check-input:checked+label {
    color: white;
    background-color: #007bff;
}

.form-check-label {
    max-width: 5rem;
    min-width: 5rem;
}

.pop-in-loc,
.pop-in-town,
.story,
.ad {
    max-width: 80%;
}

.pop-in-loc>div,
.pop-in-town>div {
    overflow-x: scroll;
}

.card-body {
    padding: 6px;
}

.card-body p {
    margin-bottom: 0;
}

.card-boyd h6 {
    margin-bottom: 1rem;
}

.story {
    margin-top: 6rem;
    position: relative;
}

.story .greeting {
    top: -15px;
    position: absolute;
    z-index: 999;
    background-color: #f8f9fa;
}

blockquote {
    color: #34383b;
    font-size: 1.2rem;
}

a {
    color: #7952b3;
}

.ad * {
    margin-right: 20%;
}